<!DOCTYPE html>
<html lang="en">
  <head>
    <title>login page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link  href=" static/Second.css ">
    <link rel="stylesheet" href="static/first.css">
    <link rel="stylesheet" href="static/third.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
    .w3-bar,h1,button {font-family: "Montserrat", sans-serif}

    </style>
  </head>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-cyan w3-card w3-left-align w3-large">
    <a href="/bank " class="w3-bar-item w3-button w3-padding-large w3-red w3-hover-white">Home </a>
    <a href="/credit" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Credit</a>
    <a href="/debit" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Debit</a>
    <a href="/balance" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Balance</a>
    <a href="/feedback" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Feedback</a>
    <a href="/logout" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-red">Logout</a>
    <font class="w3-bar-item w3-button w3-white w3-right w3-hide-small w3-padding-large font-family-serif" >Account number :{{session.get("data").split(" ")[0]}}</font>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="/credit" class="w3-bar-item w3-button w3-padding-large">Credit</a>
    <a href="/debit" class="w3-bar-item w3-button w3-padding-large">Debit</a>
    <a href="/balance" class="w3-bar-item w3-button w3-padding-large">Balance</a>
    <a href="/logout" class="w3-bar-item w3-button w3-padding-large">Logout</a>
    <a href="/feedback" class="w3-bar-item w3-button w3-padding-large">Feedback</a>
  </div>
</div>
<header class="w3-container w3-cyan w3-center" style="padding:70px 16px">
  <img src="{{url_for('static',filename='banklogo.png')}}"align="middle" width ="200px "/>
  <h1 class="w3-margin w3-jumbo">Campus Cash Bank</h1>
  <p class="w3-xlarge">|By the students|For The Students|</p>
</header>
<br><br><br>
    <h1 ><center>Thank You for using Campuscash Bank</center></h1>
    <br>
    <br>
    <br>
    <center>
    <font size=50 color = blue>Transaction of Rs. {{ amount }} is succesfull
    <br>
    <br> 
    <a href="/bank"><button>Home page</button></a><br>
    <br>
    <br>
    <br>
    </font>
    </center>
    <div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
        <h1 class="w3-margin w3-xlarge">Best transaction tracker for students</h1>
    </div>
    <footer class="w3-container w3-padding-64 w3-center w3-opacity"> 
      <div class="w3-xlarge w3-padding-32">
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
      </div>
      <p>This website was made by<br>
      Aman Shivdasani
      </p>
    </footer>
    </body>
    </html>