<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name ="viewport" content="width=device-width , initial-scale=1.0">
<title>TRACKER</title>
</head>
<body bgcolor="yellow">
    <font color = "red",font size=100 ><center>ByeWorld</center></font>
    <h1>This is good</h1>
    <h2>This is better</h2>
    <h3>i am best</h3>
    <nav>
        <font size="15" color="black">
        <a href = "/">index</a>
        <a href>Data</a>
        <a href="/trial">trial</a></font>
    </nav>
</body>
</html>