<!DOCTYPE html>
<head>
    <title>Credit Page</title>
</head>
<body>
    <style>h1{background-color:cyan; color:red }</style>
    <h1 ><center>Welcome to python bank </center></h1>
    <center>
    <form action="/amount_reduce">
        <label style="font-size: 50px;color:blue">Enter The amount to be debited : <br><input style="height: 50px; width: 300px;font-size: 35px;background-color: ghostwhite;" type="text" name = "amount" </label>
    </form>
    </center>
    <a href="/bank">Home</a>
    <marquee vspace = 500 style= "font-size:xx-large; bottom: 0 ; background-color: cyan; font-style: italic;">This project is only for development purposes only </marquee>
</body>
</html>