<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name ="viewport" content="width=device-width , initial-scale=1.0">
<title>TRACKER</title>
</head>
<body bgcolor="yellow">
    <font color = "Red",font size=100 ><center>Hello World</center></font>
    <h1 style = "color:grey">This is good</h1>
    <h2 style="color:blue">This is better</h2>
    <h3 style ="color:rgb(128, 119, 0)">i am best</h3>
    <nav>
        <a href = "/data">Data</a>
        <a href = > home </a>
    </nav>
</body>
</html>