<!DOCTYPE html>
<head>
    <title>Login Page</title>
</head>
<body bgcolor="white">
    <style>h1{ background-color: cyan; color:rgb(255, 0, 0) }</style>
    <center><h1>Welcome to python bank </h1></center>
    <font color ="Black" style="font-size: xx-large;" ><center>
    <form action = "/check" method ="post">
        <label>
            Account number:<input style="height: 50px; width: 300px;font-size: 35px;background-color: ghostwhite;" type = "text" name = "account" >
        </label>
        <br>
        <br>
        <label>
            Enter Password :<input style="height: 50px; width: 300px;font-size: 35px;background-color: ghostwhite;" type = "password" name = "password" >
        </label>
        <br>
        <br>
        <label>
            <center> <input style="height: 50px; width: 150px;font-size: 35px;background-color: rgb(5, 5, 0) ;color: rgb(254, 249, 249);" type= "submit"></center>
        </label>
    </form>
    </center>
    </font>
    <a href="/logout">logout</a>
    <marquee vspace = 500 style= "font-size:xx-large; bottom: 0 ; background-color: cyan; font-style: italic;">This project is only for development purposes only </marquee>
    </body>
    </html>