<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign up page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel ="stylesheet" href= ' static/Second.css '>
    <link rel="stylesheet" href="static/first.css">
    <link rel="stylesheet" href="static/third.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
    .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
    </style>
  </head>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-cyan w3-card w3-left-align w3-large">
    <a href="/logout" class="w3-bar-item w3-button w3-padding-large w3-red">Home</a>
    <a href="/gateway?choice=1" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Login</a>
    <a href="/gateway?choice=2" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Signup</a>
    <a href="/feedback" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Feedback</a>
    <a href="/gateway?choice=3" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-red">Exit</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="/gateway?choice=1" class="w3-bar-item w3-button w3-padding-large">Login</a>
    <a href="/gateway?choice=2" class="w3-bar-item w3-button w3-padding-large">Signup</a>
    <a href="/feedback" class="w3-bar-item w3-button w3-padding-large">Feedback</a>
    <a href="/gateway?choice=3" class="w3-bar-item w3-button w3-padding-large">Exit</a>
  </div>
</div>
<header class="w3-container w3-cyan w3-center" style="padding:70px 16px">
  <img src="{{url_for('static',filename='banklogo.png')}}"align="middle" width ="200px "/>
    <h1 class="w3-margin w3-jumbo">Campus Cash Bank</h1>
    <p class="w3-xlarge">|By the students|For The Students|</p>
    <a href ="/gateway?choice=1"
    <button class="w3-button w3-black w3-padding-large w3-hide-jumbo w3-margin-top w3-xlarge">Login</button>
    </a>
</header>
    <br><br>
    <font color ="red" ><center>
    <p class=" w3-xlarge">{{diff}} </p>
    <form action = "/verify" method="PUT">
        <br>
        <label>
            <h1>First Name : &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input style="height: 50px; width: 500px;font-size: 35px;background-color: ghostwhite;"type ="Text" name= "f_name" ></h1>
        </label><br>
        <label>
            <h1>Last Name :&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input style="height: 50px; width: 500px;font-size: 35px;background-color: ghostwhite;" type ="Text" name = "l_name"></h1>
        </label><br>
        <label>
            <h1>E mail id :&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <input style="height: 50px; width: 500px;font-size: 35px;background-color: ghostwhite;" type ="Text" name ="email"></h1>
        </label><br>
        <label>
            <h1>Balance: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input style="height: 50px; width: 500px;font-size: 35px;background-color: ghostwhite;" type ="Text" name ="balance" ></h1>
        </label>
        <br>
        <label>
            <h1>Contact No. : &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp <input style="height: 50px; width: 500px;font-size: 35px;background-color: ghostwhite;" type ="Text" name="contact" ></h1>
        </label>
        <br>
        <label>
            <h1>Password : &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input style="height: 50px; width: 500px;font-size: 35px;background-color: ghostwhite;" type = "password" name = "pass1" ></h1>
        </label>
        <br>
        <label>
            <h1>Renter Password : <input style="height: 50px; width: 500px;font-size: 35px;background-color: ghostwhite;" type = "password" name = "pass2" ></h1> 
            <h3 style="color:aqua">Minimum length of password should be 8</h3>
        </label>
        <br>
        <label><center><input style="height: 50px; width: 500px;font-size: 35px;background-color: rgb(0, 0, 0) ;color: white;" type= "submit"> </center></label>
        </form>
        <br><br>
        </center>
        </font>
        <div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
            <h1 class="w3-margin w3-xlarge">Best transaction tracker for students</h1>
        </div>
        <footer class="w3-container w3-padding-64 w3-center w3-opacity"> 
          <div class="w3-xlarge w3-padding-32">
            <i class="fa fa-instagram w3-hover-opacity"></i>
            <i class="fa fa-snapchat w3-hover-opacity"></i>
            <i class="fa fa-linkedin w3-hover-opacity"></i>
         </div>
         <p>This website was made by<br>
          Aman Shivdasani
        </p>
         <!-- Footer end. -->
        </footer>
</body>
</html>